@media screen and (min-width:0px) and (max-width:480px){
body{
    background-color: red;
}
}
@media screen and (min-width:481px) and (max-width:768px){
body{
    background-color: red;
}
}
@media screen and (min-width:769px) and (max-width:1279px){
body{
    background-color: red;
}
}
@media screen and (min-width:1280px){
*{
    padding: 0;
    margin: 0;
}
.body{
    background-color: red;
}
}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* navbar */
.nav {
    height: 0px;
}

.sign-in-btn:hover{
    color: black;
    text-decoration: underline;
}
.nav-btn a {
    text-decoration: none;
    color: black;
}

.nav-btn a:hover {
    color: white;
}

.nav a {
    color: black;
}

.nav a:visited {
    color: black;
}

.nav a:hover {
    text-decoration: underline;
    color: black;
}



.container>img{
    cursor: pointer;
}
.container .btn{
    color: white;
    background-color: rgb(159, 197, 212);    
    margin-left: 10px;
    border: none;
}
.container .sign-in-btn{
    border: none;
    background-color: white;
}

/* hero section */

/* hero seection */
.main-hero {
    /* width: 100%;
    height: 700px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: center;
    padding: 28px;
    border-radius: 16px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    /* margin: 50px; */
    /* margin-top: 5%; */
    /* margin-left: -100px; */
}

.hero-img {
    /* width: -400px;
    margin-left: -100px; */
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.hero-img>img{
    display: flex;
    width: 80%;
    height: 100%;
}


/* location */
.main-{
    color: rgb(59, 58, 58);
     box-shadow: 5px 3px 8px 3px rgb(187, 187, 187);
     box-sizing: 10px;
    margin-top: -10px;
    border-radius: 10px;
}
.lo{
    padding-top: 5%;
    cursor: pointer;
}
.h6{
    padding-left: 40px;
}
.p{
    opacity: 0.3;
}

.font{
    padding-left: 30px;
    margin-top: 30px;
}
.main- > button{
    margin-top: 5%;
}
.searchbtn{
    border: none;
    border-radius: 5px;
    background-color: rgb(159, 197, 212);
    color: white;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}
.searchbtn:hover{
    color: black;
}

/* how it work */
.work-section button{
       border: none;
    margin-right: 600px;
}
.work-btn1>button{
    background-color:  rgb(159, 197, 212) ;
    color: white;
    border-radius: 5px;
    padding: 2px 20px;
}
.work-btn1>button:hover{
    color: black;
}
.work-btn>button{
    border: none;
    background-color: rgb(159, 197, 212);    
    padding: 10px 20px;
    border-radius: 10px;
}
.work-btn>button:hover{
    color: white;
}


/* cards */

.cards .card{
    height: 100%;
    margin-left: 80px;
    padding-bottom: 0px;
    border-radius: 40px;
}


/* experience */
.work-section button{
    margin-top: 50px;
    margin-left: 550px;
}

.work-btn>button{
    margin-right: -10px;
}
.work-btn>h4{
     padding: 5px 30px;
    border-radius: 10px;
    color: black;
}

 /* most popular car deals */

.work-section .work-btn-deal button{
    border: none;
    margin-right: 600px;
}

.work-btn-deal>button{
    margin-left: 580px;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: rgb(159, 197, 212);    
    color: white;
 }
.work-btn-deal>button:hover{
    color: black;
}


/* cars,reviews etc */
/* 1st card */

.card1{
    margin: 40px;
    box-shadow: 5px 3px 8px 3px rgb(187, 187, 187);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card1 .card-body1 p{
    font-size: 14px;
}

.card1 .card-body1 .op{
    opacity: 0.5;
}

.card1 .card-body1 .gear{
    padding-left: 45px;
}

.card1 .card-body1 .gear1{
    padding-left: 15px;
}

.card1 .card-body1 .op1{
    opacity: 0.9;
    padding-left: 80px;
}

.card1 .card-body1 .rent-btn:hover{
    cursor: pointer;
}




/* about us */
.about-us{
    width: 100%;
    height: 550px;
    padding-top: 10px;
    box-shadow:  5px 3px 8px 3px rgb(187, 187, 187);
    border-radius: 50px;
}

.about-img{
    width: 50%;
}
.about-img img{
    width: 70%;
    margin-left: 200px;
    border-radius: 20px;
}

.about-txt{
    margin-top: 50px;
    margin-left: 50px;
    background-color: rgb(255, 253, 253);
}


.work-btn2 button{
    color: white;
    background-color: rgb(159, 197, 212); 
    border-radius: 10px;
}
.work-btn2 button:hover{
background-color: black;
}


/* footer start*/

.download-btn>button{
    margin-left: -10px;
    background-color: rgb(159, 197, 212);
    color: white;
    border-radius: 5px;
    padding: 2px 20px;
}
.download-btn>button:hover{
    color: black;
}

.footer-img{
    width: 50%;
    /* padding-top: 100px; */
}
.footer-img img{
    width: 70%;
    padding-top: 0%;
    margin-left: 600px;
    margin-bottom: 0px;
    border-radius: 20px;
}

.footer-txt{
    /* margin-top: 50px; */
    margin-left: 200px;
    background-color: rgb(255, 253, 253);
}

.free{
    color: rgb(20, 167, 216);
}

/* big footer */
.footer {
    width: 100%;
  background: #02203c;
  color: #ffffff;
  padding: 70px 30px 30px;
  font-family: "Open Sans", sans-serif;
}


.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-box p,
.footer-box a {
  color: #d7d7d7;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin: 6px 0;
}

.footer-box a:hover {
  color: #ffffff;
  text-decoration: underline;
}


/* whats.face,insta icons */
.social a {
    display: inline-block;
  font-size: 20px;  
  margin-right: 12px;
  color: white;
}

.social a:hover {
  opacity: 0.7;
}

/* bottom footer */
.footer-bottom {
  text-align: start;
  padding: 25px 0 0;
  margin-top: 25px;
  border-top: 1px solid #335b7b;
  color: #d7d7d7;
  font-size: 15px;
}



/* responsive */

/* tablet screen responsive*/
@media (max-width: 992px) {
    .hero {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .main-hero {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-img img {
        width: 90%;
        margin: auto;
    }

    .cards .card {
        margin-left: 0;
    }
}

/* mobile and tablet */
@media (max-width: 768px) {

    .nav {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .container .btn,
    .container .sign-in-btn {
        margin: 5px 0;
    }

    .main-hero {
        padding: 20px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 25px;
    }
}

/* mobile small */
@media (max-width: 576px) {

    .hero {
        padding: 15px;
    }

    .hero-img img {
        width: 100%;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .cards .card {
        width: 90%;
        margin: 0;
    }

    .search-btn {
        width: 100%;
        display: block;
    }

    .work-btn button {
        width: 100%;
        margin-top: 10px;
    }

    .footer-container {
        text-align: center;
    }

    .social a {
        margin: 5px;
    }
}